<!-- header.component.html -->
<header>
  <div class="container">
    <div class="grid">
      <div class="col-12 md:col-6">
        <ul class="list-none flex">
          <li><i class="fa fa-phone"></i>+01 123 456 789</li>
          <li class="mx-3">
            <i class="fa fa-envelope mx-1 vertical-align-middle"></i
            >youremail&#64;gmail.com
          </li>
        </ul>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex justify-content-end">
          <ul class="list-none flex align-items-center login-panel">
            <!-- Account Dropdown -->
            <li
              class="dropdown-container"
              (mouseenter)="showAccountDropdown()"
              (mouseleave)="hideAccountDropdown()"
            >
              <button class="dropdown-toggle">
                <i class="fa fa-user mx-2"></i> My Account
                <i class="fa fa-caret-down mx-2"></i>
              </button>
              <!-- Account Dropdown content -->
              <div
                class="dropdown-menu"
                [class.show]="isAccountDropdownVisible"
              >
                <ul class="list-none p-0 m-0">
                  <li class="py-1" *ngFor="let item of accountMenuItems">
                    <a [href]="item.link">{{ item.label }}</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="mx-3"><a>Login/Register</a></li>

            <!-- Currency Dropdown -->
            <li
              class="dropdown-container"
              (mouseenter)="showCurrencyDropdown()"
              (mouseleave)="hideCurrencyDropdown()"
            >
              <button class="dropdown-toggle">
                USD
                <i class="fa fa-caret-down mx-2"></i>
              </button>
              <!-- Currency Dropdown content -->
              <div
                class="dropdown-menu"
                [class.show]="isCurrencyDropdownVisible"
              >
                <ul class="list-none p-0 m-0">
                  <li class="py-1" *ngFor="let item of currencyMenuItems">
                    <a>{{ item.label }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Header -->
  <div class="container"></div>
</header>
