/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "./assets/variables/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: $font;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;

  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
