<app-header></app-header>
<app-carousel></app-carousel>
<section class="deal-of-the-day py-8">
  <div class="container">
    <div class="text-center">
      <h2 class="my-1">Deal Of the Day</h2>
      <p class="my-1">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin
      </p>
    </div>
    <div class="flex flex-wrap justify-content-center my-6">
      <div class="box m-3 px-7 py-2 text-center">
        <h2 class="m-0">00</h2>
        <p class="m-0">MONTH</p>
      </div>
      <div class="box m-3 px-7 py-2 text-start md:text-center">
        <h2 class="m-0">00</h2>
        <p class="m-0">DAYS</p>
      </div>
      <div class="box m-3 px-7 py-2 text-start md:text-center">
        <h2 class="m-0">00</h2>
        <p class="m-0">HOURS</p>
      </div>
      <div class="box m-3 px-7 py-2 text-start md:text-center">
        <h2 class="m-0">00</h2>
        <p class="m-0">MINUTES</p>
      </div>
      <div class="box m-3 px-7 py-2 text-start md:text-center">
        <h2 class="m-0">00</h2>
        <p class="m-0">SECS</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
