@import "../../assets/variables/variables.scss";
.deal-of-the-day {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/img-3.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.2);
    z-index: -1;
  }
  color: $white;
  h2 {
    font-size: 4em;
    font-weight: 500;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
  }

  .box {
    border: 1px solid $white;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

    h2 {
      font-weight: 600;
    }

    p {
      font-size: 0.9em;
    }
  }
}
