<footer>
    <div class="subscribe-box py-6">
<div class="container my-7">
    <div class="grid mx-0">
        <div class="col-12 text-center">
            <h3 class="newsletter-heading text-3xl lg:text-4xl mt-0 mb-3">Subscribe Newsletter</h3>
        <div class="newsletter-form ">
            <form>
             <input type="text" class="text-xl" placeholder="Enter Your Email Address...">
             </form>
        </div>
        </div>
    </div>
</div>
</div>
<div class="footer-area">
    <div class="footer-top py-6">
        <div class="container">
            <div class="grid mx-0">
                <div class="col-12">
                    <ul class="flex flex-wrap list-none justify-content-center "> 
                        <li class="mx-4 text-lg"><a href="#">HOME</a></li>
                        <li class="mx-4 text-lg"><a href="#">OUR STORY</a></li>
                        <li class="mx-4 text-lg"><a href="#">FEED SHOP</a></li>
                        <li class="mx-4 text-lg"><a href="#">HOW TO EAT BLOG</a></li>
                        <li class="mx-4 text-lg"><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pb-6">
        <div class="container">
            <div class="grid mx-0 content-box">
                <div class="icon-box col-12 md:col-6 lg:col-2">
                    <div class="footer-icon">
                        
                            <ul class="flex flex-wrap list-none p-0 justify-content-center align-content-center">
                                <li class="mr-5"><i class="fa-brands fa-facebook-f"></i></li>
                                <li class="mr-5"><i class="fa-brands fa-twitter"></i></li>
                                <li class="mr-5"><i class="fa-brands fa-linkedin-in"></i></li>
                                <li><i class="fa-brands fa-google-plus-g"></i></li>
                            </ul>
                        
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-10">
                    <div class="grid mx-0">
                    <div class="col-12 md:col-6 lg:col-4 content pl-3"><p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure righteous indignation and dislike</p></div>
                <div class="col-12 md:col-6 lg:col-4 email pl-3"><p>
                    Email: domain[at]gmail.com <br>
Tel: 0131234567 <br>
Adress: 52 Web Bangale , Adress line2 , ip:3105
                </p></div>
                <div class="col-12 md:col-6 lg:col-4 copyright pl-3"><p>Copyright © 2019 Tohoney All rights reserved.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
