<footer>
  <div class="subscribe-box py-6">
    <div class="container my-7">
      <div class="grid mx-0">
        <div class="col-12 text-center">
          <h3 class="newsletter-heading text-3xl lg:text-4xl mt-0 mb-3">
            Subscribe Newsletter
          </h3>
          <div class="newsletter-form">
            <form>
              <input
                type="text"
                class="text-xl"
                placeholder="Enter Your Email Address..."
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area">
    <div class="footer-top py-6">
      <div class="container">
        <div class="grid mx-0">
          <div class="col-12">
            <ul class="flex flex-wrap list-none justify-content-center">
              <li class="mx-4 text-lg"><a href="#">HOME</a></li>
              <li class="mx-4 text-lg"><a href="#">OUR STORY</a></li>
              <li class="mx-4 text-lg"><a href="#">FEED SHOP</a></li>
              <li class="mx-4 text-lg"><a href="#">HOW TO EAT BLOG</a></li>
              <li class="mx-4 text-lg"><a href="#">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="grid mx-0 text-white">
          <div class="col-12 md:col-6 lg:col-3">Content 1</div>
          <div class="col-12 md:col-6 lg:col-3">Content 2</div>
          <div class="col-12 md:col-6 lg:col-3">Content 3</div>
          <div class="col-12 md:col-6 lg:col-3">Content 4</div>
        </div>
      </div>
    </div>
  </div>
</footer>
