<app-header></app-header>
<app-inner-layout
  heading="Account"
  [breadcrumbItems]="breadcrumbs"
></app-inner-layout>
<div class="container py-8">
  <div class="shadow-2 p-3 reg-box">
    <h2 class="text-center">REGISTER</h2>
    <form class="form">
      <div class="grid m-0">
        <div class="col-12 my-2">
          <p-floatlabel variant="on">
            <input
              class="w-full"
              pInputText
              id="username"
              [(ngModel)]="userName"
              name="userName"
              autocomplete="off"
            />
            <label for="username"
              >User Name or Email Address<span class="text-red-500"
                >*</span
              ></label
            >
          </p-floatlabel>
        </div>
        <div class="col-12 my-2">
          <p-floatlabel variant="on">
            <input
              class="w-full"
              maxlength="10"
              pInputText
              id="mobile"
              [(ngModel)]="mobile"
              name="mobile"
              autocomplete="off"
            />
            <label for="mobile"
              >Mobile<span class="text-red-500">*</span></label
            >
          </p-floatlabel>
        </div>
        <div class="col-12 my-2">
          <p-floatlabel variant="on">
            <input
              class="w-full"
              pInputText
              id="Password"
              [(ngModel)]="password"
              name="password"
              autocomplete="off"
            />
            <label for="Password"
              >Password<span class="text-red-500">*</span></label
            >
          </p-floatlabel>
        </div>
        <div class="col-12 my-2">
          <p-floatlabel variant="on">
            <input
              class="w-full"
              pInputText
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
              name="confirmPasssword"
              autocomplete="off"
            />
            <label for="confirmPassword"
              >Confirm Password <span class="text-red-500">*</span></label
            >
          </p-floatlabel>
        </div>
      </div>
      <div class="col-12 text-center">
        <p-button label="REGISTER" /><span>or</span
        ><a [routerLink]="['/login']" class="my-3 mx-2 inline-block">Login</a>
      </div>
    </form>
  </div>
</div>
